* {
    margin:0;
    padding: 0;
}
a {
    text-decoration:none;
}
ul,li {
    list-style: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::after {
    display: table;
    clear: both;
    content: ' ';
}
a {
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
}
.td {
    display: table-cell;
  }
  .tr {
    display: table-row;
  }
  .table {
    display: table;
  }
  .cell {
    display: table-cell;
  }

input {

    border: 0;  // 去除未选中状态边框
    outline: none; // 去除选中状态边框
    background-color: rgba(0, 0, 0, 0);
}