* {
    margin:0;
    padding: 0;
}
a {
    text-decoration:none;
}
ul,li {
    list-style: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::after {
    display: table;
    clear: both;
    content: ' ';
}
a {
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
}